
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.groupms.app">
    <application
        android:label="App Group MS"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="App Group MS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
